<div class="container-fluid">
  <div class="pending-records row">
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="record">
        <p>asdf</p>
      </div>
    </div>
  </div>
</div>