<div class="container-fluid">
  <div class="row">
    <div class="pending-records col-md-5 employee">
      <h3>Pending Your Confirmation</h3>
      <%= render partial: 'pending_audit_confirmation', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
    </div>
    
    <div class="pending-records col-md-5 employee">
      asdf
    </div>
  </div>
</div>